header {
  background: grey;
  width: 100%; }
  header .header-container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px; }
    header .header-container .logo-container {
      height: 50px;
      background: yellow; }
    header .header-container .slider-container {
      background: green;
      height: 200px; }

main {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  display: flex; }
  main article {
    float: left;
    background: blue;
    height: 600px;
    width: 1000px; }
  main aside {
    float: left;
    width: 200px;
    height: 600px;
    background: red; }

footer {
  background: black;
  height: 50px; }
