

body{
	margin: 0;
	a{
		color: initial;
		text-decoration: none;
	}
}
header, section, footer, aside, nav, article, figure{
	display: block
}
// customize defined variable
$zero-px            : 0px;
$bottom-spacing     : 15px;
$text-bold          : bold;
$border-base        : 1px solid #dbdbdb;

// primary bootstrap defined variables
$font-size-base     : 13px !default;
$container-lg       : 970px !default;

//font color
$primary-color      : #0060A1;
$text-muted         : #888888 !default;
$state-danger-text  : #c13426;
$link-color         : #1d67a5;
$text-default       : #1a1a1a !default;
$text-white         : #ffffff !default;
$text-success       : #177d18 !default;
$text-danger		: #c0392b !default;
$text-primary		: #0770b7 !default;

// buttons
$btn-border-radius-base: 0px;

$btn-dark-bg		: #20272B;
$btn-dark-border	: #1d2327;
$btn-default-color	: #4b4f56;
$btn-default-bg		: #ffffff;
$btn-default-border	: #d4d4d4;

$btn-primary-color	: #ffffff;
$btn-primary-bg		: #0770b7;
$btn-primary-border	: #0965a4;
$btn-facebook       : rgba(59,89,152,1);
$btn-facebook-border: #2f4b86;


// --panel
$panel-border-radius: 0px;
$background-danger : #fa3e3e;
$background-success: #27ae60;
