@charset "UTF-8";
@webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@webkit-keyframes left {
  100% {
    transform: translateX(calc(350px - 200vw)); } }

@webkit-keyframes right {
  100% {
    transform: translateX(calc(100vw + 350px)); } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes left {
  100% {
    transform: translateX(calc(350px - 200vw)); } }

@keyframes right {
  100% {
    transform: translateX(calc(100vw + 350px)); } }

body {
  min-width: 960px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin: 0; }
  body a {
    color: #000000;
    text-decoration: none; }
  body main section:nth-of-type(2) {
    min-width: 1190px;
    max-width: 500px;
    width: 0;
    margin: auto; }

.content__article {
  float: left;
  width: 740px;
  min-width: 380px;
  padding-right: 55px; }
  .content__article ul {
    list-style: none;
    margin: -15px 0 0 15px; }

.content__article-item {
  clear: both;
  cursor: pointer;
  margin-top: 20px; }
  .content__article-item a:hover {
    color: #E7B92F; }
  .content__article-item:first-child {
    margin-top: 26px;
    padding: 0 0 8px; }

.content__article-item-image {
  float: left;
  width: 207px;
  height: 116px;
  padding: 12px 13px 0 0; }

.content__article-item-date {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.3em;
  color: #9C9C9C;
  padding-top: 10px;
  letter-spacing: -0.06em; }

.content__article-item-title {
  margin: 6px auto;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.4em;
  letter-spacing: 0.04em; }
  .content__article-item-title:hover {
    color: #E7B92F; }

.content__article-item-preview {
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.3em;
  letter-spacing: -0.11em; }

.content__articles-footer-btn {
  margin: 63px auto 39px 51px;
  text-align: center; }

.content__more-articles-btn {
  position: relative;
  padding: 10px 178px;
  border-width: 0;
  cursor: pointer;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  background-color: #333; }
  .content__more-articles-btn:hover {
    color: #E69D30; }

.content__more-articles-right-arrow {
  width: 9px;
  position: absolute;
  top: 31%;
  right: 4%; }

.page-footer {
  clear: both; }
  .page-footer__btn-container {
    padding: 1em 9vw;
    text-align: right; }
  .page-footer__btn-up {
    cursor: pointer;
    margin: 0; }
  .page-footer__nav {
    padding: 10px 9vw;
    color: #FFF;
    background-color: #000000; }
  .page-footer__text {
    padding-right: 16px;
    color: #FFF;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 0.01em; }
    .page-footer__text:hover {
      color: #9C9C9C; }
  .page-footer__copyright {
    float: right;
    letter-spacing: 0.035em; }

@font-face {
  font-family: 'Lucida Calligraphy';
  src: url("../../src/fonts/lucida-calligraphy-italic.ttf"); }

.site-header {
  font-family: "Lucida Calligraphy", sans-serif;
  text-align: center;
  padding: 12px 0 16px;
  border-top: 2px solid #E7B92F; }
  .site-header__title {
    margin: 0;
    margin-top: 6px;
    font-size: 60px;
    letter-spacing: 5px; }

.sidebar {
  background-color: #EFEFEF;
  float: left;
  margin-right: -1000px;
  width: 340px;
  margin-top: 21px; }
  .sidebar__dummy-banner-top {
    margin: 20px; }
  .sidebar__recommended-item {
    margin-bottom: 44px; }
    .sidebar__recommended-item ul {
      list-style: none; }
  .sidebar__recommended-title {
    text-align: center;
    margin: 20px;
    margin: 26px 20px 20px 24px;
    border-bottom: 2px solid #000000;
    letter-spacing: 0.065em; }
  .sidebar__recommended-item-content {
    cursor: pointer;
    margin: 0 22px 15px -19px; }
    .sidebar__recommended-item-content a {
      text-decoration: none;
      color: #000000; }
  .sidebar__recommended-item-photo {
    width: 112px;
    height: 64px;
    padding: 2px 10px 0 0;
    float: left; }
  .sidebar__recommended-article-title {
    text-decoration: none;
    margin: 3px auto 3px auto;
    font-size: 13px;
    line-height: 1.35em; }
    .sidebar__recommended-article-title:hover {
      color: #E69D30; }
  .sidebar__recommended-article-date {
    margin: 0 auto;
    display: block;
    font-size: 11px;
    color: #9C9C9C;
    line-height: 1.3em;
    letter-spacing: 0.07em; }
  .sidebar__dummy-banner-btn {
    margin: -6px 20px 20px; }

.slider {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%; }
  .slider__photo {
    position: relative;
    font-size: 0;
    width: 312%;
    margin: 12px 0;
    left: 0%;
    text-align: left; }
  .slider__photo-image {
    width: 33.333%;
    height: 418px;
    float: left; }
  .slider__caption {
    color: #FFF; }
  .slider__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-49%, -57%); }
  .slider__qoute--main {
    top: 4em;
    left: 20%;
    font-size: 62.7px;
    letter-spacing: 2px; }
  .slider__qoute--sub-1 {
    margin-top: -29px;
    margin-left: -27px;
    font-size: 1em;
    letter-spacing: 1.8px; }
  .slider__qoute--sub-2 {
    margin-top: -21px;
    margin-left: -27px;
    font-size: 1em;
    letter-spacing: 1.8px; }
  .slider__btn-trigger {
    position: absolute;
    cursor: pointer; }
  .slider__current-slide {
    position: absolute;
    cursor: pointer; }
  .slider__btn-triggers {
    top: 46%; }
  .slider__btn-trigger-left {
    left: 7.6vw; }
  .slider__btn-trigger-right {
    right: 7.9vw; }
  .slider__btn-indicator {
    top: 91.7%; }
  .slider__btn-indicator-1st {
    left: 46.5%; }
  .slider__btn-indicator-2nd {
    left: 49%; }
  .slider__btn-indicator-3rd {
    left: 51.5%; }
  .slider .active {
    background-color: #e7ba2f; }
  .slider__btn--indicator {
    cursor: pointer;
    height: 17px;
    width: 17px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    border: none;
    outline: none; }
