@charset "UTF-8";
@webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

body {
  min-width: 960px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin: 0; }
  body a {
    color: #000000;
    text-decoration: none; }
  body main section:nth-of-type(2) {
    min-width: 1147px;
    max-width: 500px;
    width: 0;
    margin: auto; }

.content__article {
  float: left;
  width: 712px;
  min-width: 380px;
  padding-right: 55px; }
  .content__article ul {
    list-style: none; }

.content__article-item {
  clear: both;
  cursor: pointer;
  margin-top: 20px; }
  .content__article-item a:hover {
    color: #E7B92F; }
  .content__article-item:first-child {
    margin-top: 10px;
    padding: 0 0em 1em; }

.content__article-item-image {
  float: left;
  width: 210px;
  height: 123px;
  padding: 12px 15px 0 0; }

.content__article-item-date {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.3em;
  color: #9C9C9C;
  padding-top: 10px; }

.content__article-item-title {
  margin: 3px auto 3px auto;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.5em; }
  .content__article-item-title:hover {
    color: #E7B92F; }

.content__article-item-preview {
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.3em; }

.content__articles-footer-btn {
  margin: 79px auto 39px 0;
  text-align: center; }

.content__more-articles-btn {
  position: relative;
  padding: 5px 187px;
  border-width: 0;
  cursor: pointer;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  background-color: #333; }
  .content__more-articles-btn:hover {
    color: #E69D30; }

.content__more-articles-right-arrow {
  width: 9px;
  position: absolute;
  top: 31%;
  right: 7%; }

.page-footer {
  clear: both; }
  .page-footer__btn-container {
    padding: 1em 8.4em;
    text-align: right; }
  .page-footer__btn-up {
    cursor: pointer;
    margin: 0; }
  .page-footer__nav {
    padding: 1em 8.4em;
    color: #FFF;
    background-color: #000000; }
  .page-footer__text {
    padding-right: 20px;
    color: #FFF;
    text-decoration: none; }
    .page-footer__text:hover {
      color: #9C9C9C; }
  .page-footer__copyright {
    float: right; }

@font-face {
  font-family: 'Lucida Calligraphy';
  src: url("../../src/fonts/lucida-calligraphy-italic.ttf"); }

.site-header {
  font-family: "Lucida Calligraphy", sans-serif;
  text-align: center;
  padding: 15px;
  border-top: 2px solid #E7B92F; }
  .site-header__title {
    margin: 0;
    font-size: 3em;
    letter-spacing: 2px; }

.sidebar {
  background-color: #EFEFEF;
  float: left;
  margin-right: -1000px;
  width: 340px;
  margin-top: 27px; }
  .sidebar__dummy-banner-top {
    margin: 20px; }
  .sidebar__recommended-item {
    margin-bottom: 40px; }
    .sidebar__recommended-item ul {
      list-style: none; }
  .sidebar__recommended-title {
    text-align: center;
    margin: 20px;
    border-bottom: 2px solid #000000; }
  .sidebar__recommended-item-content {
    cursor: pointer;
    margin: 0 11px 15px -19px; }
    .sidebar__recommended-item-content a {
      text-decoration: none;
      color: #000000; }
  .sidebar__recommended-item-photo {
    width: 120px;
    height: 68px;
    padding: 5px 10px 0 0;
    float: left; }
  .sidebar__recommended-article-title {
    text-decoration: none;
    margin: 3px auto 3px auto;
    font-size: 13px;
    line-height: 1.5em; }
    .sidebar__recommended-article-title:hover {
      color: #E69D30; }
  .sidebar__recommended-article-date {
    margin: 0 auto;
    display: block;
    font-size: 11px;
    color: #9C9C9C;
    line-height: 1.3em; }
  .sidebar__dummy-banner-btn {
    margin: 20px; }

.slider {
  vertical-align: middle;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden; }
  .slider__photo--fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }
  .slider__photo {
    font-size: 0;
    width: 300%;
    margin: 0;
    position: relative;
    left: 0%;
    text-align: left; }
  .slider__photo--hide {
    display: none; }
  .slider__photo-image {
    width: 33.333%;
    float: left; }
  .slider__caption {
    color: #FFF; }
  .slider__content {
    position: absolute;
    left: 0;
    right: -29px;
    margin-left: auto;
    margin-right: auto;
    top: 59px;
    text-align: center; }
  .slider__qoute--main {
    top: 4em;
    left: 20%;
    font-size: 62.7px; }
  .slider__qoute--sub {
    margin-top: -36px;
    margin-left: -23px;
    font-size: 1em;
    letter-spacing: 0.07; }
  .slider__btn-trigger {
    position: absolute;
    cursor: pointer; }
  .slider__current-slide {
    position: absolute;
    cursor: pointer; }
  .slider__btn-triggers {
    top: 44%; }
  .slider__btn-trigger-left {
    left: 11.4%; }
  .slider__btn-trigger-right {
    right: 11.4%; }
  .slider__btn-indicator {
    top: 91.5%; }
  .slider__btn-indicator-1st {
    left: 47.2%; }
  .slider__btn-indicator-2nd {
    left: 49.5%; }
  .slider__btn-indicator-3rd {
    left: 51.75%; }
  .slider .active {
    background-color: #e7ba2f; }
  .slider__btn--indicator {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    border: none;
    outline: none; }
