@charset "UTF-8";
body {
  min-width: 960px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin: 0; }
  body a {
    color: initial;
    text-decoration: none; }

.content {
  margin: 0 auto;
  max-width: 10000px;
  padding-left: 7%;
  padding-right: 39%; }
  .content__article {
    float: left;
    width: 100%;
    min-width: 380px;
    padding-right: 55px; }
    .content__article ul {
      list-style: none; }
  .content__article-item {
    clear: both;
    cursor: pointer;
    margin-top: 20px; }
    .content__article-item a {
      text-decoration: none;
      color: #000000; }
      .content__article-item a:hover {
        color: #e69d30; }
    .content__article-item:first-child {
      margin-top: 10px; }
  .content__article-item-image {
    float: left;
    width: 210px;
    height: 123px;
    padding: 12px 15px 0 0; }
  .content__article-item-date {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.3em;
    color: #9C9C9C;
    padding-top: 10px; }
  .content__article-item-title {
    margin: 3px auto 3px auto;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.5em; }
    .content__article-item-title:hover {
      color: #e69d30; }
  .content__article-item-preview {
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.3em; }
  .content__articles-footer-btn {
    margin: 79px auto 39px 0;
    text-align: center; }
  .content__more-articles-btn {
    position: relative;
    padding: 5px 187px;
    border-width: 0;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    background-color: #333; }
    .content__more-articles-btn:hover {
      color: #e69d30; }
  .content__more-articles-right-arrow {
    width: 9px;
    position: absolute;
    top: 31%;
    right: 7%; }

.site-footer {
  clear: both; }
  .site-footer__btn-container {
    padding: 1em 8.4em;
    text-align: right; }
  .site-footer__btn-pagetop {
    cursor: pointer;
    margin: 0; }
  .site-footer__nav {
    padding: 1em 8.4em;
    color: #fff;
    background-color: #000; }
  .site-footer__left-text {
    padding-right: 20px;
    color: #fff;
    text-decoration: none; }
    .site-footer__left-text:hover {
      color: #9C9C9C; }
  .site-footer__right-text {
    float: right; }

@font-face {
  font-family: 'Lucida Calligraphy';
  src: url("../fonts/lucida-calligraphy-italic.ttf"); }

.site-header {
  font-family: "Lucida Calligraphy", sans-serif;
  text-align: center;
  padding: 15px;
  border-top: 2px solid #E7B92F; }
  .site-header__title {
    margin: 0;
    font-size: 3em;
    letter-spacing: 2px; }

.page {
  margin: 0 auto; }

.sidebar {
  background-color: #EFEFEF;
  float: left;
  margin-right: -1000px;
  width: 340px;
  margin-top: 20px; }
  .sidebar__dummy-banner-top {
    margin: 20px; }
  .sidebar__recommended-item {
    margin-bottom: 40px; }
    .sidebar__recommended-item ul {
      list-style: none; }
  .sidebar__recommended-title {
    text-align: center;
    margin: 20px;
    border-bottom: 2px solid #000; }
  .sidebar__recommended-item-content {
    cursor: pointer;
    margin: 0 11px 15px -19px; }
    .sidebar__recommended-item-content a {
      text-decoration: none;
      color: #000000; }
  .sidebar__recommended-item-photo {
    width: 120px;
    height: 68px;
    padding: 5px 10px 0 0;
    float: left; }
  .sidebar__recommended-article-title {
    text-decoration: none;
    margin: 3px auto 3px auto;
    font-size: 13px;
    line-height: 1.5em; }
    .sidebar__recommended-article-title:hover {
      color: #e69d30; }
  .sidebar__recommended-article-date {
    margin: 0 auto;
    display: block;
    font-size: 11px;
    color: #9C9C9C;
    line-height: 1.3em; }
  .sidebar__dummy-banner-btn {
    margin: 20px; }

.slider {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden; }
  .slider__photo {
    font-size: 0;
    width: 300%;
    margin: 0;
    position: relative;
    left: 0%;
    text-align: left; }
  .slider__photo-image {
    width: 33.333%;
    float: left; }
  .slider__caption {
    color: #fff; }
  .slider__content {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .slider__qoute--main {
    top: 4em;
    left: 20%;
    font-size: 4em; }
  .slider__qoute--sub {
    font-size: 1em;
    letter-spacing: 0.1em; }
  .slider__btn-trigger {
    position: absolute;
    cursor: pointer; }
  .slider__btn-triggers {
    top: 40%; }
  .slider__btn-trigger-left {
    left: 10%; }
  .slider__btn-trigger-right {
    right: 10%; }
  .slider__btn-indicator {
    top: 91%; }
  .slider__btn-indicator-1st {
    left: 48%; }
  .slider__btn-indicator-2nd {
    left: 51%; }
  .slider__btn-indicator-3rd {
    left: 54%; }
