body{
	min-width:960px;
	font-family: $font-family;
	margin:	0;

	& a {
		color: $black;
		text-decoration: none;
	}

	& main {
		& section:nth-of-type(2) {
			min-width: 1147px;
			max-width: 500px;
			width: 0;
			margin: auto; 
		}
	}
}
