.content{
    margin: 0 auto;
    max-width: 10000px;
    padding-left: 10%;
    padding-right: 39%;

	&__article{
        float: left;
        width: 100%;
        min-width: 380px;
        padding-right: 55px;
	}

	&__article-items{
		clear: both;
        cursor: pointer;
		margin-top: 10px;
		&:first-child{
			margin-top: 10px;
		}
	}

    &__article-item-image {
        float: left;
        width: 210px;
        height: 110px;
        padding: 12px 15px 0 0;
    }

    &__article-item-date {
        display: block;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.3em;
        color: #9C9C9C;
        padding-top: 10px;
    }

    &__article-item-title {
        margin: 3px auto 3px auto;
        font-size: 17px;
        font-weight: bold;
        line-height: 1.5em;

        &:hover {
            color: #e69d30;
        }
    }

    &__article-item-preview {
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.3em;
    }

    &__articles-footer-btn {
        margin: 79px auto 39px 0;
        text-align: center;
    }

    &__more-articles-btn {
        position: relative;
        padding: 5px 187px;
        border-width: 0;
        cursor: pointer;
        font-size: 20px;
        color: #fff;
		text-decoration: none;
        background-color: #333;
        &:hover {
            color: #e69d30;
        }
    }

    &__more-articles-right-arrow {
        width: 9px;
        position: absolute;
        top: 31%;
        right: 7%;
    }   
}
