.content {
	margin: 0;
	min-width: 10000px auto;
	padding-left: 7%;
	padding-right: 39%;

	&__article {
		float: left;
		width: 712px;
		min-width: 380px;
		padding-right: 55px;
		ul{
			list-style: none;
		}
	}

	&__article-item {
		clear: both;
		cursor: pointer;
		margin-top: 20px;
		a{
			&:hover {
				color: $dark-yellow;
			}
		}
		&:first-child{
			margin-top: 10px;
			padding: 0 0em 1em;
		}
	}

	&__article-item-image {
		float: left;
		width: 210px;
		height: 123px;
		padding: 12px 15px 0 0;
	}

	&__article-item-date {
		display: block;
		margin: 0 auto;
		font-size: 14px;
		line-height: 1.3em;
		color: $grey61;
		padding-top: 10px;
	}

	&__article-item-title {
		margin: 3px auto 3px auto;
		font-size: 17px;
		font-weight: bold;
		line-height: 1.5em;
		&:hover {
			color: $dark-yellow;
		}
	}

	&__article-item-preview {
		margin: 0 auto;
		font-size: 14px;
		line-height: 1.3em;
	}

	&__articles-footer-btn {
		margin: 79px auto 39px 0;
		text-align: center;
	}

	&__more-articles-btn {
		position: relative;
		padding: 5px 187px;
		border-width: 0;
		cursor: pointer;
		font-size: 20px;
		color: $white;
		text-decoration: none;
		background-color: $grey20;
		&:hover {
			color: $hover-yellow;
		}
	}

	&__more-articles-right-arrow {
		width: 9px;
		position: absolute;
		top: 31%;
		right: 7%;
	}   
}
