.page-footer {
	clear: both;

	&__btn-container {
		padding: 1em 8.4em;
		text-align: right;
	}

	&__btn-up {
		cursor: pointer;
		margin: 0;
	}

	&__nav {
		padding: 1em 8.4em;
		color: $white;
		background-color: $black;
	}

	&__text {
		padding-right: $medium;
		color: $white;
		text-decoration: none;

		&:hover {
			color: $grey61;
		}
	}

	&__copyright {
		float: right;
	}
}
