@font-face{
	font-family: '../fonts/Lucida_Calligraphy_Italic.ttf';
	src: url('../fonts/Lucida_Calligraphy_Italic.fft');
}
.page-header{
	font-family: "Lucida Calligraphy", sans-serif;
	text-align: center;
	padding: 15px;
	border-top: 2px solid #E7B92F;

	a{
		color: initial;
		text-decoration: none;
	}

	&__heading{
		margin: 0;
		font-size: 3em;
		letter-spacing: 2px;
	}
}
