.slider{
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;

	&__gallery{
        position: relative;
        width: 251%;
        margin: 0;
        left: 0%;
        text-align: left;
        font-size: 0;
	}

	&__gallery-photos{
        width: 40%; 
        float: left;
	}

	&__image-content{
		position: absolute;
		color:#fff;
	}

	&__image-heading-content--main{
        top: 1%;
        left: 20%;
        font-size: 4em;
	}

	// prev next
	&__image-heading-content--sub {
		top: 49%;
		left: 29%;
		font-size: 1em;
		letter-spacing: 0.1em;
	}

	&__btn-trigger{
		position: absolute;
		cursor: pointer;
	}

	&__btn-triggers{
		top: 40%;
	}

	&__btn-trigger-left{
		left:10%
	}


	&__btn-trigger-right{
		right: 10%;
	}

	//slide indicators
	&__btn-indicator{
		top: 91%;
	}
	&__btn-indicator-1st{
		left: 48%; 
	}
	&__btn-indicator-2nd{
		left: 51%; 
	}
	&__btn-indicator-3rd{
		left: 54%; 
	}
}
