.slider{
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;

	&__gallery{
        font-size: 0;
        width: 300%;
        margin: 0;
        position: relative;
        left: 0%;
        text-align: left;
	}

	&__gallery-image{
        width: 33.333%; 
        float: left;
	}

	&__image-content{
		color:#fff;
	}

	&__image-heading-content--main{
        font-size: 4em;
	}
	
	&__image-heading-content-figcaption{
		position: absolute; 
		left: 0; right: 0; 
		margin-left: auto; 
		margin-right: auto; 
		text-align: center;
	}

	&__image-heading-content--sub {
		font-size: 1em;
		letter-spacing: 0.1em;
	}

	&__btn-trigger{
		position: absolute;
		cursor: pointer;
	}

	&__btn-triggers{
		top: 40%;
	}

	&__btn-trigger-left{
		left:10%
	}

	&__btn-trigger-right{
		right: 10%;
	}

	//slide indicators
	&__btn-indicator{
		top: 91%;
	}
	&__btn-indicator-1st{
		left: 48%; 
	}
	&__btn-indicator-2nd{
		left: 51%; 
	}
	&__btn-indicator-3rd{
		left: 54%; 
	}
}
