.content {
	&__article {
		float: left;
		width: 740px;
		min-width: 380px;
		padding-right: 55px;

		& ul{
			list-style: none;
			margin: -15px 0 0 15px;
		}
	}

	&__article-item {
		clear: both;
		cursor: pointer;
		margin-top: 20px;

		& a{
			&:hover {
				color: $dark-yellow;
			}
		}

		&:first-child{
			margin-top: 26px;
			padding: 0 0 8px;
		}
	}

	&__article-item-image {
		float: left;
		width: 207px;
		height: 116px;
		padding: 12px 13px 0 0;
	}

	&__article-item-date {
		display: block;
		margin: 0 auto;
		font-size: 14px;
		line-height: 1.3em;
		color: $grey61;
		padding-top: 10px;
		letter-spacing: -0.06em;
	}

	&__article-item-title {
		margin: 6px auto;
		font-size: 17px;
		font-weight: bold;
		line-height: 1.4em;
		letter-spacing: 0.04em;

		&:hover {
			color: $dark-yellow;
		}
	}

	&__article-item-preview {
		margin: 0 auto;
		font-size: 14px;
		line-height: 1.3em;
		letter-spacing: -0.11em;
	}

	&__articles-footer-btn {
		margin: 63px auto 39px 51px;
		text-align: center;
	}

	&__more-articles-btn {
		position: relative;
		padding: 10px 178px;
		border-width: 0;
		cursor: pointer;
		font-size: 20px;
		color: $white;
		text-decoration: none;
		background-color: $grey20;

		&:hover {
			color: $hover-yellow;
		}
	}

	&__more-articles-right-arrow {
		width: 9px;
		position: absolute;
		top: 31%;
		right: 4%;
	}   
}
