@font-face {
    font-family: 'Lucida Calligraphy';
    src: url('../../src/fonts/lucida-calligraphy-italic.ttf');
}

.site-header {
	font-family: "Lucida Calligraphy", sans-serif;
	text-align: center;
	padding: 12px 0 16px;
	border-top: 2px solid $dark-yellow;

	&__title {
		margin: 0;
		margin-top: 6px;
		font-size: 60px;
		letter-spacing:5px
	}
}
