.sidebar {
	background-color: $light-grey;
	float: left;
	margin-right: -1000px;
	width: 340px;
	margin-top: 21px;

	&__dummy-banner-top {
		margin: $medium;
	}

	&__recommended-item {
		margin-bottom: 44px;
		ul{
			list-style: none;
		}
	}

	&__recommended-title {
		text-align: center;
		margin: $medium;
		margin: 26px 20px 20px 24px;
		border-bottom: 2px solid $black;
		letter-spacing: 0.065em;
	}

	&__recommended-item-content {
		cursor: pointer;
		margin: 0 22px 15px -19px;
		a {
			text-decoration:none;
			color: $black;
		}
	}

	&__recommended-item-photo {
		width: 112px;
		height: 64px;
		padding: 2px 10px 0 0;
		float: left;
	}

	&__recommended-article-title {
		text-decoration:none;
		margin: 3px auto 3px auto;
		font-size: 13px;
		line-height: 1.35em;
		&:hover {
			color: $hover-yellow;
		}
	}

	&__recommended-article-date {
		margin: 0 auto;
		display: block;
		font-size: 11px;
		color: $grey61;
		line-height: 1.3em;
		letter-spacing: 0.07em;
	}

	&__dummy-banner-btn {
		margin: -6px 20px 20px;
	}
}
