.slider {
	vertical-align: middle;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;

	&__photo--fade {
		-webkit-animation: fade 1s;
		animation: fade 1s;
	}

	&__photo--left {
		-webkitanimation: left 1s;
		animation: left 1s;
	}
	
	&__photo--right {
		-webkit-animation: right 1s;
		animation: right 1s;
	}

	&__photo {
        font-size: 0;
        width: 312%;
        margin: 8px 0;
        position: relative;
        left: 0%;
        text-align: left;
	}

	&__photo--hide {
		display:none;
	}

	&__photo-image {
        width: 33.333%; 
        float: left;
	}

	&__caption {
		color: $white;
	}

	&__content {
		position: absolute; 
		left: 61px;
		right: -29px; 
		margin-left: auto; 
		margin-right: auto; 
		top:75px;
		text-align: center;
	}

	&__qoute--main {
		top: 4em;
		left: 20%;
        font-size: 62.7px;
		letter-spacing: 2px;
	}

	&__qoute--sub-1 {
		margin-top: -35px;
		margin-left: -33px;
		font-size: 1em;
		letter-spacing: 1.8px;
	}

	&__qoute--sub-2 {
		margin-top: -23px;
		margin-left: -35px;
		font-size: 1em;
		letter-spacing: 1.8px;
	}

	&__btn-trigger {
		position: absolute;
		cursor: pointer;
	}

	&__current-slide {
		position: absolute;
		cursor: pointer;
	}

	&__btn-triggers {
		top: 45%;
	}

	&__btn-trigger-left {
		left:11.9%
	}

	&__btn-trigger-right {
		right: 8.1%;
	}

	&__btn-indicator {
		top: 91.5%;
	}

	&__btn-indicator-1st {
		left: 48.8%; 
	}

	&__btn-indicator-2nd {
		left: 51.2%; 
	}

	&__btn-indicator-3rd {
		left: 53.5%; 
	}

	& .active{
		background-color: #e7ba2f;
	}

	&__btn--indicator {
		cursor: pointer;
		height: 17px;
		width: 17px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
		border: none;
		outline: none;
	}
}
