.slider {
	vertical-align: middle;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;

	&__photo--fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	&__photo {
        font-size: 0;
        width: 300%;
        margin: 0;
        position: relative;
        left: 0%;
        text-align: left;
	}

	&__photo--hide {
		display:none;
	}

	&__photo-image {
        width: 33.333%; 
        float: left;
	}

	&__caption {
		color: $white;
	}

	&__content {
		position: absolute; 
		left: 0;
		right: -29px; 
		margin-left: auto; 
		margin-right: auto; 
		top:59px;
		text-align: center;
	}

	&__qoute--main {
		top: 4em;
		left: 20%;
        font-size: 62.7px;
	}

	&__qoute--sub {
		margin-top: -36px;
		margin-left: -23px;
		font-size: 1em;
		letter-spacing: 0.07;
	}

	&__btn-trigger {
		position: absolute;
		cursor: pointer;
	}

	&__current-slide {
		position: absolute;
		cursor: pointer;
	}

	&__btn-triggers {
		top: 44%;
	}

	&__btn-trigger-left {
		left:11.4%
	}

	&__btn-trigger-right {
		right: 11.4%;
	}

	&__btn-indicator {
		top: 91.5%;
	}

	&__btn-indicator-1st {
		left: 47.2%; 
	}

	&__btn-indicator-2nd {
		left: 49.5%; 
	}

	&__btn-indicator-3rd {
		left: 51.75%; 
	}

	& .active{
		background-color: #e7ba2f;
	}

	&__btn--indicator {
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
		border: none;
		outline: none;
	}
}
